body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  max-width: 1000px;
}

h2 {
  color: #373fff;
}

select {
  font-size: 1em;
}

button {
  margin: 4px;
  padding: 8px;
  font-size: 1em;
}

div.audio-transport {
  display: inline;
  font-size: 1.5em;
  cursor: pointer;
}

td.method-name {
  text-align: right;
}

td:not(.method-name) {
  text-align: center;
}

.spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

label {
  font-weight: bold;
}

.score {
  margin: 4px;
  padding: 4px;
  border: 4px solid transparent;
}

.selected-transcription {
  border: 4px solid blue;
}